* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}


/*Header Section*/
header {
    width: 80%;
    margin: 0 auto;
}

.main-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.logo img {
    width: 150px;
    border-radius: 48%;
}

li {
    list-style: none;
   padding: 20px;
}

a {
    text-decoration: none;
}

/* Banner */

.banner  {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/Assets/Image/DrillingBanner.png) no-repeat center center / cover fixed; 
    
}

.banner-text h2 {
    font-weight: 700;
    color: white;
    font-size: 60px;
    filter: none;
}

/*Services Section*/

section {
    width: 80%;
    margin: 0 auto;
}

.service-header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(115, 133, 138, 0.7);
   
}

h3 {
    text-align: center;
    padding-top: 40px;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
    
}

section .flex-services {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
}

/*Side Nav*/

 .side-nav {
     width: 18%;
     border-right: 1px solid rgba(115, 133, 138, 0.3) ;
     padding-bottom: 60px;
 }

 .side-li {
    position: sticky;
    top: 0;
 }


 .side-li li {
     padding: 20px 0;
     
 }

 /*narrow drilling*/

 .services {
     width: 82%;
    
 }

 .service-description {
     margin-left: 20px;
 }

 .service-description h4 {
     padding: 10px 0;
 }

 .service-description p {
     line-height: 1.8;
     letter-spacing: 1px;
     text-align: justify;
 }

 .image-container {
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
   
}

 .image-container img {
     padding: 10px;
     width: 200px;
     height: 200px;
     flex: 1 1 100px;
 }

 /* Main-custommers-Section */

 .main-custumer-title {
     padding-bottom: 20px;
     width: 100%;
     height: 100px;
     border-bottom: 1px solid rgba(115, 133, 138, 0.7); 
 }

 .customers-container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     align-content: space-around;
     flex-flow: row wrap;
      
 }

 .customer-img {
    border: 1px solid rgba(0, 0, 0, 0.5) ;
    padding: 5px;
    margin: 10px;
 }

 .customer-img img {
     width: 160px;
 }

 /* Company Banner  */

 .our-company {
     margin-top: 60px;
     width: 100%;
     background:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url(/Assets/Image/banner-company/Background.png) no-repeat center center / cover fixed; 
    padding: 20px 0;
     
 }

 .company-container {
     width: 90%;
     margin: 0 auto;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
 }

 .banner-text {
     width: 45%;
     padding: 36px 0;
 }

 .banner-image {
     width: 48%;
    position: relative;
    top: 50px;
    left: 24px;

 }

 .banner-image img {
    width: 100%;
 }

 .banner-text h3 {
     text-align: left;
     color: rgb(235, 232, 232);
     margin-bottom: 30px;
     padding-top: 0;
     font-size: 2.5em;
 }

 hr {
     margin: 20px 0;
     width: 90px;
 }

 .banner-text p {
     color: rgb(235, 232, 232);
     line-height: 2em;
     font-size: 1.05em;
     text-align: justify ;
 }

 /* contact section */

 .contact-cont {
     width: 100%;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     border-top: 2px solid rgb(63, 71, 187);;

 }

 .form {
     width: 65%;
     padding: 30px 70px 0 70px;
     margin: 0 20px;
 }

 .contact {
     width: 32%;
     padding: 30px 30px 0 30px;
     background-color: rgba(63, 71, 187, 0.9);
    
 }

h4 {
     padding: 25px 0 50px 0;
     font-size: 2em;
 }

 .contact h4 {
     color: cornsilk;
 }

 h5 {
     font-size: 1.5rem;
     font-weight: 300;
     padding: 10px 0;
     color: cornsilk;
 }

 .contact-body p, address {
     font-size: 1.1rem;
     line-height: 2rem;
     padding: 10px 0;
     color: cornsilk;
 }

 input, textarea {
     font-size: 1.2em;
     font-weight: 100;
     padding: 12px 20px;
     margin: 8px 0;
     border: 1px solid rgba(17, 17, 56, 0.3);
     border-radius: 5px;
 }

 input[type=text] {
     width: 100%;
     
 }

 input[type=email] {
     width: 49.4%;
    
     
 }
 input[type=number] {
     width: 49.2%;    
 }

 input[type=submit]{
     background-color: rgba(63, 71, 187, 0.9);
     font-weight: 700;
     color:white;
     letter-spacing: 3px;
     margin-bottom: 40px;
     border-radius: 20px;+
 }

 textarea {
     width: 100%;
     resize: none;
 }

 input[type=submit]:hover{
    background-color: rgba(247, 247, 247, 0.9);
    font-weight: 700;
    color:white;
    letter-spacing: 3px;
    margin-bottom: 40px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

footer {
    background-color: rgba(11, 19, 121, 1);
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

 


